<!DOCTYPE html>
<html>
<head>
	<title>films</title>
	<link rel="stylesheet" type="text/css" href="styles/films.css">
	<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree" rel="stylesheet">
</head>
<body>
<div class="mainBlock">
<div id="f1" class="filmsBlock">
		Films about icon
		<br>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
</div>

<div id="f1" class="filmsBlock">
		Films about icon
		<br>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
</div>

<div id="f1" class="filmsBlock">
		Films about icon
		<br>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="src/icon.jpg" width="125px" height="125px">FILMNAME</li></div>
</div>
</div>
</body>
</html>