<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/filmsAbout.css">
</head>
<body>
<div id="f1" class="filmsBlock">
		Films about icon
		<br>
		<div class="film_cell"><img src="/static/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="/static/icon.jpg" width="125px" height="125px"><br>FILMNAME</li></div>
		<div class="film_cell"><img src="/static/icon.jpg" width="125px" height="125px"><br>FILMNAME</li></div>
		<div class="film_cell"><img src="/static/icon.jpg" width="125px" height="125px"><br>FILMNAME</div>
		<div class="film_cell"><img src="/static/icon.jpg" width="125px" height="125px"><br>FILMNAME</li></div>
</div>
</body>
</html>